@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root{
    --fondo: #fbece6;
    --color1: #1c1638;
    --color2: #B56576;
    --color3: #2b7cca;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}
main{
    text-align: center;
}
section{
    margin: 0 auto;
    width: 45%;
    padding: 1%;
}
section ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color:gray;
}
