@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px
}

:root{
    --fondo: #fbece6;
    --color1: #1c1638;
    --color2: #B56576;
    --color3: #2b7cca;
}
/*MENU */

.menu_usuario{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
}
.titulo-seccion{
    font-size: 35px;
    color: var(--colortitulos);
    position: absolute;
    margin-top: 3rem;
}
.menu{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-self: center;
    margin-top: 4rem;
}
.menu a{
    text-decoration: none;
}
#imagenSDG{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../images/sdg.png);
    background-size: cover;
    background-position: center;
    color:var(--color1);
    display: flex;
    justify-content: center;
    border-radius: 10%;
    margin-right: 50px;
}
#imagenSDG:hover{
    width: 12em;
    height: 12em;
    transition: 0.5s;
}
#imagenSDG h3{
    margin-top: 100%;
    text-align: center;
    width: 10em;
}
#imagenSDR{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(../images/sdr.png);
    background-size: cover;
    background-position: center;
    color:var(--color1);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 50px;
}

#imagenSDR:hover{
    width: 12em;
    height: 12em;
    transition: 0.5s;
}
#imagenSDR h3{
    margin-top: 100%;
    text-align: center;
    width: 15em;
}