@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root{
    --fondo: #fbece6;
    --color1: #1c1638;
    --color2: #B56576;
    --color3: #2b7cca;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}
main h1{
    text-align: center;
}
main section:nth-child(odd){
    text-align: right;
}
section{
    margin: 0 auto;
    width: 1000px;
    border-bottom: 1px solid var(--color2);
    padding: 1%;
}
section:last-child{
    border-bottom: none;
}
.caracteristicas ul{
    list-style: none;
}
.caracteristicas ul li::before{
    content: "— "
}
.iframe{
    text-align: center !important;
}
.interes ul{
    list-style: none;
}
.interes a{
    text-decoration: none;
    color: var(--color2);
}
.ejemplos p{
    text-align: left !important;
}
